UpTip/Tip/TestWebService/WebAppTestWebService/Web References/com.tunemotions.www/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TuneCus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FdPO_CODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FdPAY_Type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="FdPd_Amt" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="FdPd_Price" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="FdPd_Total" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="FdPO_Date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FdPO_Time" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TuneCusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TuneCusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TuneCusSoapIn">
    <wsdl:part name="parameters" element="tns:TuneCus" />
  </wsdl:message>
  <wsdl:message name="TuneCusSoapOut">
    <wsdl:part name="parameters" element="tns:TuneCusResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="TuneCus">
      <wsdl:input message="tns:TuneCusSoapIn" />
      <wsdl:output message="tns:TuneCusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TuneCus">
      <soap:operation soapAction="http://tempuri.org/TuneCus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TuneCus">
      <soap12:operation soapAction="http://tempuri.org/TuneCus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.tunemotions.com/webservice/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.tunemotions.com/webservice/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>